<div class="text-center">
    <h1 class="display-4">@Model.name</h1>
    <h2>@Model.description</h2>

    <a class="btn btn-dark" href="recipes/new">Add a new recipe!</a>
    <form action="/ingredients/@Model.id/delete" method="post" >
      <button type="submit" class="btn btn-dark">Delete this ingredient</button>
    </form>
</div>
