@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Recipe Book Homepage</h1>
    <h2>Please select a link from the navigation bar to get started</h2>
    <img src="img/salmon.jpg" alt="a picture of salmon">
</div>
