<div class="text-center">
    <h1 class="display-4">Recipes</h1>
    <ul>
      @if (@Model.Count == 0)
      {
        <h2>Currently there are no recipes.</h2>
      }
      @foreach (Recipe recipe in Model)
      {
        <li><a href="recipes/@recipe.id">@recipe.name</a></li>
      }
    </ul>

    <form method="post" action="/recipes/alphabet-asc">
      <button type="submit" class="btn btn-dark">Order By First Word - Ascending</button>
    </form>
    <a class="btn btn-dark" href="recipes/new">Add a food recipe!</a>
</div>
